# NTM-IT access transformers.
#
# This file must exist because `accessTransformersFile = ntm_it_at.cfg` is set in
# gradle.properties and build.gradle hard-fails when the referenced file is missing.
# It currently contains no rules.
#
# Syntax: <access> <class> <member> [descriptor] [# comment]
# Examples:
#   public net.minecraft.tileentity.TileEntity field_145850_b # pos
#   public-f net.minecraft.world.World field_73011_w # provider
#   public net.minecraftforge.fml.common.Loader func_110554_a(I)Lnet/minecraftforge/fml/common/Loader; # instance
